a:link { color: #33ccff; }
a:visited { color: #cecece; }
a:hover { color: #336666; }
a:active { color: #339999; }

/* Стили для меню */
ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

li a {
    color: #fff !important; /* !important, чтобы перебить цвет a:link выше */
    text-decoration: none;
    padding: 10px;
    width: 180px;
    background: #0076ba;
    display: block;
    border: 1px solid #fff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

li a:hover {
    background: #d36800;
    color: #fff !important;
}
